.status {
  position: relative;
  padding: 20px 30px;
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  z-index: 99;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff2;
    filter: blur(10px);
  }
}

.counter {
  min-width: 100px;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: #fff;

  &:first-child {
    text-align: left;
  }

  &:first-child {
    text-align: right;
  }
}

.button {
  display: flex;
  cursor: pointer;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 90;
  border-radius: 50%;

  &:focus {
    outline: none;
  }
}